
 /* NavBar.css */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(16, 60, 16, 0.177);
  padding: 20px;
}

.navbar-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 3rem;
}

.navbar-link {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  display: block;
  
}

.navbar-link:hover {
  background-color: rgba(16, 60, 16, 0.177);
}

.subcategories {
  display: none;
  position: absolute;
  list-style-type: none;
  background-color: rgba(16, 60, 16, 0.177);
  box-shadow:#555;
  z-index: 1;
}

.navbar-list:hover .subcategories {
  display: flex;
  flex-direction: column;
}

.subcategories li {
  padding: 10px;
}

.subcategories .navbar-link {
  color: #fff;
  text-decoration: none;
}

.subcategories .navbar-link:hover {
  background-color: #555;
}
